@media only screen and (max-width: 991px) {
    .navbar-area {
        height: 42px !important;
        background: linear-gradient(to right,
                #006e65 0%,
                #04af0c 20%,
                gold 40%,
                #000000 80%,
                #ff0000 90%) !important;
        overflow: hidden;
    }

    .xton-responsive-nav {
        display: block;
        background: #ffffff;
        height: 40px;
        position: absolute;
        width: 100%;
        z-index: 99;
        top: 131px;
    }

    .main-logo, .white-logo{
        height: 33px !important;
        width: 70px !important;
    }

    .products-box .products-image {
        height: 248.5px !important;
    }

    .products-box .products-image .products-imagea {
        display: flex;
        justify-content: space-between;
        width: 100% !important;
        align-items: center;
        position: relative;
        height: 100%;
    }

    .products-box .products-image .products-imagea .imageahandlea {
        width: 50%;
        height: 100%;
        align-self: flex-start;
        border-right: 1px solid white;
    }

    .products-box .products-image .products-imagea .imageahandlea .one {
        width: 100%;
        height: 100%;
    }

    .products-box .products-image .products-imagea .imageahandleb {
        width: 50%;
        height: 100%;
        align-self: flex-end;
        border-left: 1px solid white;

    }

    .products-box .products-image .products-imagea .imageahandlea .two {
        width: 100%;
        height: 100%;
    }



    /*.products-discounta start*/
    .products-box .products-discounta {
        position: absolute;
        bottom: 96.5px;
        right: -6.1px;
        display: inline-block;
    }

    .products-box .products-discounta span {
        position: relative;
        display: block;
        text-align: center;
        line-height: 1;
        padding: 8px 10px 8px 12px;
        border-bottom-right-radius: 8px;
        width: 90px;
        background-color: red;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
    }

    .products-box .products-discounta span:after {
        height: 5px;
        width: 5.3px;
        right: 0.7px;
        position: absolute;
        content: "";
        top: -5px;
        border-radius: 0px 80px 0px 0px;
        background: rgb(48, 1, 1);
    }

    .products-box .products-discounta span:before {
        position: absolute;
        content: "";
        height: 6px;
        width: 6px;
        right: 0px;
        top: -6px;
        border-radius: 0px 80px 0px 0px;
        background: red;
    }

    .nouveau {
        background: #007fbb;
        color: #ffffff;
        padding: 0px 8px 0px 8px;
        position: absolute;
        bottom: 80px;
        right: -6.1px;
        display: inline-block;
    }

    .promo {
        background: rgba(3, 183, 135, 0.528);
        color: #ffffff;
        padding: 0px 8px 0px 8px;

        position: absolute;
        bottom: 0px;
        right: -6.1px;
        display: inline-block;
    }

    .sold {
        background: rgb(255, 255, 255);
        color: rgb(255, 0, 157);
        padding: 10px;
        border-radius: 100%;
        position: absolute;
        font-style: italic;
        top: -10px;
        left: -10px;
        display: inline-block;
    }





    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

    .single-products-box .products-image {
        height: 248.5px !important;
    }

    .single-products-box .products-image .products-imagea {
        display: flex;
        justify-content: space-between;
        width: 100% !important;
        align-items: center;
        position: relative;
        height: 100%;
    }

    .single-products-box .products-image .products-imagea .imageahandlea {
        width: 50%;
        height: 100%;
        align-self: flex-start;
        border-right: 1px solid white;
    }

    .single-products-box .products-image .products-imagea .imageahandlea .one {
        width: 100%;
        height: 100%;
    }

    .single-products-box .products-image .products-imagea .imageahandleb {
        width: 50%;
        height: 100%;
        align-self: flex-end;
        padding-top: 35px;
        border-left: 1px solid white;

    }

    .single-products-box .products-image .products-imagea .imageahandlea .two {
        width: 100%;
        height: 100%;
    }



    /*.products-discounta start*/
    .single-products-box .products-discounta {
        position: absolute;
        bottom: 41.5px;
        right: -6.1px;
        display: inline-block;
    }

    .single-products-box .products-discounta span {
        position: relative;
        display: block;
        text-align: center;
        line-height: 1;
        padding: 8px 10px 8px 12px;
        border-bottom-right-radius: 8px;
        width: 90px;
        background-color: red;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
    }

    .single-products-box .products-discounta span:after {
        height: 5px;
        width: 5.3px;
        right: 0.7px;
        position: absolute;
        content: "";
        top: -5px;
        border-radius: 0px 80px 0px 0px;
        background: rgb(48, 1, 1);
    }

    .single-products-box .products-discounta span:before {
        position: absolute;
        content: "";
        height: 6px;
        width: 6px;
        right: 0px;
        top: -6px;
        border-radius: 0px 80px 0px 0px;
        background: red;
    }






    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/




    .foot-linear-set {
        height: 200px;
    }

    .foot-circle {
        height: 99%;
    }




    .lines {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin: auto;
        width: 90vw;
        z-index: 0;
    }

    .lines .line {
        left: 45%;
    }



    .lines .linec {
        left: 55%;
    }





    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

    .main-banner {
        height: auto;
        padding-top: 50px;
        padding-bottom: 53px;
    }


    .main-banner-content .sub-title {
        display: none !important;
    }

    .main-banner-content h1 {
        margin-bottom: 12px;
        font-size: 20px;
    }


    .main-banner-content p {
        font-size: 13px !important;
    }


    .optional-btn {
        border: 1px solid var(--wt);
        color: var(--wt);
    }



    .home-slides.owl-theme .owl-dots {

        bottom: 0;
    }

    .home-slides.owl-theme .owl-dots .owl-dot span {
        width: 13px;
        height: 13px;
        margin: 0 8px;
    }

    .home-slides.owl-theme .owl-dots .owl-dot span::before {
        background-color: var(--companycoe);
    }

    .home-slides.owl-theme .owl-dots .owl-dot:hover span,
    .home-slides.owl-theme .owl-dots .owl-dot.active span {
        border-color: var(--companycoe);
    }
}